.firstBanner, .secondBanner {
    width:30vw;
    height:40vh;
    background-color: beige;
    box-shadow: 5vw 6vh 10vh rgba(0, 0,0,0.5);
    display:inline
}

.firstBanner{
    position: relative;
    top: 60vh;
    left: 50%; 
    transform: translate(-50%);
    

}
.secondBanner{
    position: relative;
    top:150vh;

}